#/bin/dash
# https://wiki.ubuntu.com/Mirrors
# https://wiki.ubuntu.com/Mirrors/Scripts

fatal() {
  echo "FATAL $0: $1"
  exit 1
}

warn() {
  echo "WARNING $0: $1"
}

# Find a source mirror near you which supports rsync on
# https://launchpad.net/ubuntu/+archivemirrors
# rsync://<iso-country-code>.rsync.archive.ubuntu.com/ubuntu should always work
RSYNCSOURCE="rsync://{{ ubuntu_mirror_packages_source }}/ubuntu"

# Define where you want the mirror-data to be on your mirror
BASEDIR="{{ mirror_doc_root }}"

rsync --recursive --times --links --hard-links \
  --stats \
  --exclude "Packages*" --exclude "Sources*" \
  --exclude "Release*" --exclude "InRelease" \
  ${RSYNCSOURCE} ${BASEDIR} || fatal "First stage of sync failed."

rsync --recursive --times --links --hard-links \
  --stats --delete --delete-after \
  ${RSYNCSOURCE} ${BASEDIR} || fatal "Second stage of sync failed."

date -u > ${BASEDIR}/project/trace/$(hostname -f)

